.completed {
	text-decoration: line-through;
	text-decoration-color: green;
	text-decoration-style: double;
	border-left-color: green !important;
	border-left-width: 0.2rem;
}

.card {
	border-left-color: orange;
	border-left-width: 0.2rem;
}

